services:
  app:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_DEBUG=1
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/urlshortener
      - WORKERS=4
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=urlshortener
    volumes:
      - postgres_data_us:/var/lib/postgres/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "urlshortener"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_us:
